In [1]:
# Data Analysis
import pandas as pd
import numpy as np

# Visualization
from matplotlib import pyplot as plt
import seaborn as sns

# Data Prediction
from sklearn.preprocessing import LabelEncoder
import xgboost
from sklearn.metrics import mean_squared_error

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_train = pd.read_csv('/Users/malarvizhis/Desktop/Participants_Data_Final/Data_Train.csv')
df_test = pd.read_csv('/Users/malarvizhis/Desktop/Participants_Data_Final/Data_Test.csv')

In [3]:

print(df_test.shape, df_train.shape)

((4231, 8), (12690, 9))

In [4]:
def null_values(df):
    
    sum_null = df.isnull().sum()
    total = df.isnull().count()
    percent_nullvalues = 100* sum_null / total 
    df_null = pd.DataFrame()
    df_null['Total'] = total
    df_null['Null_Count'] = sum_null
    df_null['Percent'] = round(percent_nullvalues,2)
    df_null = df_null.sort_values(by='Null_Count',ascending = False)
    df_null = df_null[df_null.Null_Count > 0]
    
    return(df_null)

In [6]:
num_columns = len(df_train.columns)
pd.set_option("display.max_columns", num_columns)
print(df_train.head(5))


num_columns_test = len(df_test.columns)
pd.set_option("display.max_columns", num_columns)
print(df_test.head(5))

               TITLE  RESTAURANT_ID  \
0      CASUAL DINING           9438
1  CASUAL DINING,BAR          13198
2      CASUAL DINING          10915
3        QUICK BITES           6346
4     DESSERT PARLOR          15387

                                     CUISINES  \
0                 Malwani, Goan, North Indian
1              Asian, Modern Indian, Japanese
2  North Indian, Chinese, Biryani, Hyderabadi
3                            Tibetan, Chinese
4                                    Desserts

                                     TIME     CITY        LOCALITY RATING  \
0  11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)    Thane  Dombivali East    3.6
1                    6pm – 11pm (Mon-Sun)  Chennai       Ramapuram    4.2
2     11am – 3:30pm, 7pm – 11pm (Mon-Sun)  Chennai      Saligramam    3.8
3                 11:30am – 1am (Mon-Sun)   Mumbai     Bandra West    4.1
4                    11am – 1am (Mon-Sun)   Mumbai     Lower Parel    3.8

       VOTES  COST
0   49 votes  1200
1   30 votes  1500
2  221 votes   800
3   24 votes   800
4  165 votes   300
           TITLE  RESTAURANT_ID                                      CUISINES  \
0  CASUAL DINING           4085         North Indian, Chinese, Mughlai, Kebab
1    QUICK BITES          12680  South Indian, Fast Food, Pizza, North Indian
2  CASUAL DINING           1411       North Indian, Seafood, Biryani, Chinese
3           None            204                                       Biryani
4    QUICK BITES          13453                          South Indian, Kerala

                                                TIME       CITY      LOCALITY  \
0                      12noon – 12midnight (Mon-Sun)      Noida     Sector 18
1                            7am – 12:30AM (Mon-Sun)     Mumbai    Grant Road
2                           11am – 11:30pm (Mon-Sun)     Mumbai  Marine Lines
3  9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...  Faridabad           NIT
4                              11am – 10pm (Mon-Sun)      Kochi        Kaloor

  RATING       VOTES
0    4.3   564 votes
1    4.2    61 votes
2    3.8   350 votes
3    3.8  1445 votes
4    3.6    23 votes

In [7]:
feature_names = df_train.columns.tolist()
feature_names.remove('TIME')
feature_names.remove('LOCALITY')

print(feature_names)

for column in feature_names:
    print(column)
    print(df_train[column].value_counts(dropna=False))

['TITLE', 'RESTAURANT_ID', 'CUISINES', 'CITY', 'RATING', 'VOTES', 'COST']
TITLE
QUICK BITES                     4218
CASUAL DINING                   3652
None                            1003
CAFÉ                             607
DESSERT PARLOR                   382
CASUAL DINING,BAR                349
FINE DINING                      308
BAKERY                           302
BEVERAGE SHOP                    156
BAR,CASUAL DINING                128
LOUNGE                            98
BAKERY,QUICK BITES                92
BAR                               91
FOOD COURT                        78
CASUAL DINING,CAFÉ                56
MESS                              53
KIOSK                             53
BAKERY,DESSERT PARLOR             51
PUB                               50
SWEET SHOP,QUICK BITES            48
DESSERT PARLOR,QUICK BITES        48
DHABA                             45
SWEET SHOP                        44
QUICK BITES,SWEET SHOP            35
CAFÉ,CASUAL DINING                35
BEVERAGE SHOP,QUICK BITES         33
FINE DINING,BAR                   32
CAFÉ,DESSERT PARLOR               32
PUB,CASUAL DINING                 30
FOOD TRUCK                        30
                                ...
FINE DINING,CAFÉ                   2
KIOSK,QUICK BITES                  2
LOUNGE,CLUB                        2
SWEET SHOP,CASUAL DINING           2
BAKERY,SWEET SHOP                  2
CASUAL DINING,CLUB                 2
BAKERY,FOOD COURT                  1
DESSERT PARLOR,PAAN SHOP           1
CLUB,MICROBREWERY                  1
BAKERY,BEVERAGE SHOP               1
CASUAL DINING,DESSERT PARLOR       1
PUB,CAFÉ                           1
LOUNGE,FINE DINING                 1
BEVERAGE SHOP,CASUAL DINING        1
CONFECTIONERY,QUICK BITES          1
MICROBREWERY,LOUNGE                1
SWEET SHOP,BEVERAGE SHOP           1
BEVERAGE SHOP,FOOD COURT           1
KIOSK,FOOD COURT                   1
BAKERY,CONFECTIONERY               1
DESSERT PARLOR,KIOSK               1
SWEET SHOP,CONFECTIONERY           1
BAR,MICROBREWERY                   1
QUICK BITES,FOOD TRUCK             1
BAR,CLUB                           1
CAFÉ,FINE DINING                   1
CAFÉ,LOUNGE                        1
CASUAL DINING,FOOD COURT           1
QUICK BITES,BAR                    1
MEAT SHOP                          1
Name: TITLE, Length: 113, dtype: int64
RESTAURANT_ID
7264     8
4634     7
9910     6
13173    5
1571     5
12747    5
8171     5
3378     5
13150    5
2231     5
1521     5
11971    5
7745     5
8032     5
10614    5
12891    5
4058     5
661      4
7173     4
13078    4
12129    4
10648    4
13513    4
5804     4
5227     4
8351     4
201      4
6935     4
12645    4
10357    4
        ..
2484     1
12723    1
14770    1
4527     1
6574     1
429      1
2476     1
14786    1
453      1
6598     1
8665     1
12771    1
14818    1
8673     1
10720    1
477      1
2524     1
12763    1
14810    1
10712    1
4551     1
4567     1
469      1
14802    1
4559     1
461      1
2508     1
14794    1
10696    1
0        1
Name: RESTAURANT_ID, Length: 11892, dtype: int64
CUISINES
South Indian                                                           532
North Indian                                                           526
North Indian, Chinese                                                  501
Fast Food                                                              286
Chinese                                                                167
Bakery                                                                 148
Bakery, Desserts                                                       148
South Indian, North Indian, Chinese                                    139
Cafe                                                                   134
Kerala                                                                 131
Biryani                                                                129
Street Food                                                            121
Chinese, North Indian                                                  119
South Indian, North Indian                                             106
North Indian, Mughlai                                                  102
North Indian, Chinese, Biryani                                          91
Desserts                                                                87
Finger Food                                                             87
North Indian, South Indian, Chinese                                     87
Ice Cream, Desserts                                                     81
Arabian                                                                 80
Bakery, Fast Food                                                       79
North Indian, South Indian                                              74
North Indian, Chinese, Continental                                      73
Pizza, Fast Food                                                        72
Desserts, Ice Cream                                                     70
North Indian, Mughlai, Chinese                                          66
North Indian, Chinese, Mughlai                                          64
Beverages                                                               55
Fast Food, Beverages                                                    55
                                                                      ...
Fast Food, Ice Cream, Desserts, Chinese                                  1
North Indian, South Indian, Fast Food, Chinese, Thai                     1
Pizza, Healthy Food, Fast Food                                           1
Sandwich, Wraps, Beverages                                               1
Cafe, Desserts, Continental                                              1
European, Burger, Salad, Healthy Food, Continental                       1
Thai, Mexican, Continental, Beverages, Italian                           1
Italian, Biryani, Fast Food                                              1
Continental, American, North Indian                                      1
North Indian, Chinese, Mughlai, Hyderabadi                               1
Cafe, Continental, Healthy Food                                          1
South Indian, Fast Food, Biryani                                         1
Cafe, Fast Food, Tea                                                     1
North Indian, Street Food, Sandwich, Pizza, Juices, Beverages            1
Continental, Italian, North Indian, Street Food, Coffee                  1
Pizza, Italian, Cafe, Burger, Finger Food, Fast Food, Sandwich           1
Desserts, Ice Cream, Sandwich                                            1
Cafe, American, Burger, Beverages                                        1
North Indian, Chinese, Continental, Italian, Momos                       1
North Indian, South Indian, Chinese, Biryani, Beverages                  1
Mediterranean, Italian, European, Salad, Seafood                         1
Biryani, Hyderabadi, North Indian, Seafood                               1
Andhra, Beverages, Healthy Food                                          1
Sandwich, Italian, Fast Food                                             1
North Indian, Arabian, Chinese, Sandwich, South Indian, Juices           1
Healthy Food, Continental, Fast Food, Sandwich, Salad, Beverages, ,      1
Biryani, Chinese, North Indian, Kebab, South Indian                      1
Street Food, Desserts, Fast Food                                         1
American, North Indian, Asian                                            1
Rolls, North Indian, Fast Food                                           1
Name: CUISINES, Length: 4155, dtype: int64
CITY
Chennai                               2174
Bangalore                             2149
Hyderabad                             1819
Mumbai                                1722
New Delhi                             1321
Kochi                                 1279
Gurgaon                                379
Secunderabad                           310
Noida                                  211
Navi Mumbai                            165
NaN                                    112
Ghaziabad                              102
Thane                                   97
Faridabad                               79
Bandra West                             69
Thane West                              52
Andheri West                            48
Bengaluru                               42
Greater Noida                           31
India                                   23
Kakkanad                                15
Ernakulam                               14
Kerala                                  10
Dwarka                                  10
Delhi NCR                                9
Delhi                                    8
Hyderabad.                               7
Gurugram                                 7
Telangana                                7
Edappally                                7
                                      ...
Ponnuruni Kochi                          1
Behind Ramalayam Temple                  1
Near Sector 110 Noida                    1
Fort Kochi                               1
Khairatabad                              1
Hitech City                              1
Maharaja Hotel Beside Gardania Bar       1
Chennai Perungudi                        1
Hyderabad neerus emporium.               1
Sriram nagar                             1
Nallala Street                           1
Bangalore - 560076                       1
Ashok Vihar Phase 1                      1
Serilingampally                          1
Naharpar                                 1
Dilsukhnagar                             1
Hyderabad-500032                         1
Mumbai Andheri East                      1
Aluva Circle                             1
Ramapuram                                1
Chennai Padur                            1
Telagana Land Line:040-48507016          1
Rajarajeshwari Nagar bangalore           1
Vasai West.                              1
Telangana 500034                         1
10th avenue                              1
Near Munrshwara Temple                   1
Thammenahalli Village                    1
Karnataka 560103                         1
Chander Nagar New Delhi                  1
Name: CITY, Length: 360, dtype: int64
RATING
3.9    1238
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
NEW     707
3.4     575
4.3     556
-       495
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.2       2
2.0       2
NaN       2
Name: RATING, dtype: int64
VOTES
NaN           1204
44 votes        71
28 votes        66
29 votes        66
38 votes        65
35 votes        64
24 votes        63
26 votes        63
22 votes        62
25 votes        60
33 votes        60
37 votes        58
12 votes        58
15 votes        58
31 votes        58
6 votes         57
27 votes        57
32 votes        56
48 votes        56
39 votes        56
23 votes        56
57 votes        56
54 votes        55
41 votes        55
21 votes        55
19 votes        55
7 votes         54
40 votes        54
8 votes         54
13 votes        54
              ...
828 votes        1
748 votes        1
2425 votes       1
3872 votes       1
2132 votes       1
4801 votes       1
3537 votes       1
1654 votes       1
3113 votes       1
1374 votes       1
661 votes        1
4206 votes       1
5559 votes       1
892 votes        1
2249 votes       1
1055 votes       1
963 votes        1
2241 votes       1
3048 votes       1
1905 votes       1
1554 votes       1
1483 votes       1
1744 votes       1
1588 votes       1
1190 votes       1
1969 votes       1
1564 votes       1
2202 votes       1
1274 votes       1
1398 votes       1
Name: VOTES, Length: 1848, dtype: int64
COST
300      1595
400      1357
500      1300
200      1031
600       806
250       670
800       599
700       587
350       550
150       492
1000      436
450       355
1200      328
1500      308
550       190
650       183
100       183
900       178
2000      157
750       153
1800      125
1100      125
1300      120
1400      118
1600      109
2500       86
3000       80
850        68
1700       47
2200       34
         ...
1650        3
3300        3
60          2
3700        2
130         2
1050        2
3100        2
1450        2
6000        2
6500        2
313         1
320         1
599         1
8000        1
3600        1
370         1
5200        1
299         1
7000        1
4050        1
20          1
140         1
1260        1
10000       1
2900        1
4100        1
70          1
14000       1
1950        1
80          1
Name: COST, Length: 86, dtype: int64

In [8]:
## Features for TEST DATA


feature_names_test= df_test.columns.tolist()
feature_names_test.remove('TIME')
feature_names_test.remove('LOCALITY')

print(feature_names_test)

for column in feature_names_test:
    print(column)
    print(df_test[column].value_counts(dropna=False))

['TITLE', 'RESTAURANT_ID', 'CUISINES', 'CITY', 'RATING', 'VOTES']
TITLE
QUICK BITES                   1416
CASUAL DINING                 1258
None                           284
CAFÉ                           223
DESSERT PARLOR                 126
CASUAL DINING,BAR              114
FINE DINING                     98
BAKERY                          90
BEVERAGE SHOP                   60
BAR,CASUAL DINING               47
LOUNGE                          38
BAKERY,QUICK BITES              34
BAR                             33
FOOD COURT                      32
SWEET SHOP                      23
SWEET SHOP,QUICK BITES          22
KIOSK                           20
PUB                             17
DHABA                           16
MESS                            15
CAFÉ,BAKERY                     14
QUICK BITES,SWEET SHOP          14
CAFÉ,QUICK BITES                12
BEVERAGE SHOP,QUICK BITES       12
PUB,CASUAL DINING               12
CAFÉ,CASUAL DINING              12
QUICK BITES,BAKERY              11
BAKERY,DESSERT PARLOR           10
QUICK BITES,DESSERT PARLOR      10
CASUAL DINING,CAFÉ               9
                              ...
DESSERT PARLOR,FOOD COURT        1
BAR,LOUNGE                       1
FOOD COURT,QUICK BITES           1
BAKERY,BEVERAGE SHOP             1
CONFECTIONERY                    1
FINE DINING,CAFÉ                 1
CASUAL DINING,LOUNGE             1
CLUB,FINE DINING                 1
QUICK BITES,CAFÉ                 1
BEVERAGE SHOP,CAFÉ               1
BHOJANALYA                       1
CAFÉ,FOOD COURT                  1
PUB,LOUNGE                       1
PAAN SHOP                        1
FINE DINING,MICROBREWERY         1
LOUNGE,FINE DINING               1
PUB,CAFÉ                         1
FOOD TRUCK,DESSERT PARLOR        1
CASUAL DINING,FOOD COURT         1
CAFÉ,LOUNGE                      1
PUB,FINE DINING                  1
IRANI CAFE,BAKERY                1
CASUAL DINING,MICROBREWERY       1
QUICK BITES,MEAT SHOP            1
COCKTAIL BAR,CASUAL DINING       1
CASUAL DINING,IRANI CAFE         1
CLUB,BAR                         1
QUICK BITES,CASUAL DINING        1
LOUNGE,CLUB                      1
BAKERY,CASUAL DINING             1
Name: TITLE, Length: 86, dtype: int64
RESTAURANT_ID
12799    3
15454    3
4262     3
11169    3
1619     3
1482     3
7656     3
10391    3
9060     2
5837     2
7449     2
5319     2
8036     2
12645    2
4656     2
10650    2
8032     2
2012     2
764      2
1846     2
9886     2
7745     2
8539     2
4218     2
9235     2
10357    2
13145    2
8365     2
2186     2
11586    2
        ..
11635    1
9590     1
1454     1
11691    1
9642     1
5544     1
3495     1
7589     1
13728    1
11679    1
5528     1
5524     1
11667    1
13712    1
11663    1
15073    1
1418     1
7561     1
11655    1
7557     1
2369     1
9602     1
7553     1
5504     1
6158     1
9598     1
11432    1
3451     1
5496     1
10241    1
Name: RESTAURANT_ID, Length: 4127, dtype: int64
CUISINES
North Indian, Chinese                                                  213
North Indian                                                           190
South Indian                                                           174
Fast Food                                                               78
Chinese                                                                 59
Cafe                                                                    47
Kerala                                                                  47
North Indian, Mughlai                                                   45
South Indian, North Indian, Chinese                                     44
Bakery, Desserts                                                        42
Street Food                                                             40
Bakery                                                                  39
Biryani                                                                 35
Beverages                                                               32
Pizza, Fast Food                                                        31
Desserts                                                                30
North Indian, Chinese, Biryani                                          30
Chinese, North Indian                                                   30
South Indian, North Indian                                              29
Bakery, Fast Food                                                       29
Ice Cream, Desserts                                                     27
North Indian, South Indian, Chinese                                     26
Finger Food                                                             26
North Indian, South Indian                                              25
South Indian, Chinese                                                   24
Kerala, South Indian                                                    23
Fast Food, Beverages                                                    22
North Indian, Chinese, Mughlai                                          21
North Indian, Chinese, Continental                                      21
North Indian, Mughlai, Chinese                                          21
                                                                      ...
Continental, Chinese, Momos                                              1
Mughlai, North Indian, Lucknowi                                          1
North Indian, South Indian, Chinese, Fast Food, Street Food              1
Paan                                                                     1
European, American, Italian, Fast Food                                   1
Biryani, Chinese, South Indian                                           1
Malwani                                                                  1
North Indian, Mughlai, Rolls, Kebab                                      1
Biryani, North Indian, Hyderabadi                                        1
Vietnamese                                                               1
Cantonese                                                                1
Mexican, Tex-Mex, Salad, Healthy Food, Sandwich, Beverages               1
Kerala, Indian                                                           1
South Indian, Juices                                                     1
Italian, European, Continental                                           1
North Indian, Italian, Continental, Chinese, Desserts, Beverages         1
Goan, North Indian                                                       1
Chinese, Momos, Seafood                                                  1
Kerala, Lebanese                                                         1
Cafe, Rolls                                                              1
Seafood, Italian                                                         1
Cafe, Burger, Continental, Desserts, Sandwich, Pizza, Bakery, Salad      1
South Indian, Hyderabadi                                                 1
Cafe, American, Continental, Italian                                     1
Continental, Italian, Seafood, Salad                                     1
Finger Food, Continental, Italian, North Indian                          1
Continental, Bakery, Desserts                                            1
South Indian, Italian, North Indian                                      1
Cafe, Fast Food, Beverages, Finger Food, Cuisine Varies, Juices, ,       1
Biryani, Chinese, Hyderabadi, Afghan                                     1
Name: CUISINES, Length: 1727, dtype: int64
CITY
Bangalore                                           686
Chennai                                             681
Hyderabad                                           639
Mumbai                                              589
Kochi                                               472
New Delhi                                           433
Gurgaon                                             145
Secunderabad                                         86
Noida                                                63
Navi Mumbai                                          57
NaN                                                  35
Faridabad                                            30
Ghaziabad                                            30
Andheri West                                         21
Thane                                                21
Thane West                                           21
Bengaluru                                            19
Bandra West                                          16
India                                                 8
Greater Noida                                         7
Dwarka                                                5
Kakkanad                                              5
Ernakulam                                             4
Delhi NCR                                             4
Banglore                                              4
Delhi                                                 3
Telangana                                             3
HSR Layout                                            3
Hyderabad.                                            3
Kaloor                                                3
                                                   ...
Delh.                                                 1
Virar Mumbai                                          1
Miumbai                                               1
Chepauk                                               1
Near Andheri East Station                             1
Navi Mumbai.                                          1
chennai-119                                           1
Borivali (W) Mumbai: 400 092.                         1
Mumbai Ulhasnagar                                     1
Whitefield                                            1
Sholinganallur. Chennai                               1
Vandalur                                              1
Velachery                                             1
Chennai 40                                            1
Kochi International Airport VIP Road                  1
Bengalore                                             1
Forum Sujana Mall Opposite to Malaysian township      1
Powai                                                 1
Kaaraikudi Complex                                    1
682024                                                1
Suraram                                               1
Maharashtra.                                          1
Opposite Ellora Building                              1
RA Puram                                              1
Mira Road Thane Mumbai                                1
Chennai Injambakkam                                   1
BTM                                                   1
Tolichowki                                            1
India Gate New Delhi                                  1
Mehdipatnam Hyderabad                                 1
Name: CITY, Length: 152, dtype: int64
RATING
3.8    414
3.9    405
4.0    399
3.7    351
3.6    310
4.1    281
4.2    245
NEW    223
3.5    217
3.4    202
4.3    184
-      177
4.4    122
3.3    120
3.2     83
3.1     77
4.5     75
3.0     59
2.9     56
2.8     45
4.6     43
2.7     40
2.6     24
4.7     21
4.8     17
2.5     16
2.4      9
4.9      6
2.3      5
NaN      2
2.2      2
2.1      1
Name: RATING, dtype: int64
VOTES
NaN           402
6 votes        30
22 votes       26
58 votes       26
23 votes       24
42 votes       24
4 votes        24
9 votes        24
55 votes       22
34 votes       21
44 votes       21
13 votes       20
14 votes       20
25 votes       19
57 votes       19
36 votes       19
130 votes      19
66 votes       19
24 votes       18
52 votes       18
26 votes       18
47 votes       18
32 votes       18
62 votes       18
50 votes       18
11 votes       18
46 votes       18
19 votes       18
54 votes       18
56 votes       18
             ...
1294 votes      1
829 votes       1
2041 votes      1
935 votes       1
369 votes       1
709 votes       1
920 votes       1
2320 votes      1
587 votes       1
412 votes       1
570 votes       1
3071 votes      1
4064 votes      1
4489 votes      1
905 votes       1
1511 votes      1
3075 votes      1
2476 votes      1
1020 votes      1
1660 votes      1
930 votes       1
592 votes       1
1989 votes      1
190 votes       1
1981 votes      1
2194 votes      1
1304 votes      1
372 votes       1
1323 votes      1
1398 votes      1
Name: VOTES, Length: 1137, dtype: int64

In [9]:
features = df_train.drop('COST', 1)
features = features.drop('LOCALITY', 1)
features = features.drop('TIME', 1)
features = features.drop('RESTAURANT_ID', 1)
labels = df_train['COST']

print(features.head())

               TITLE                                    CUISINES     CITY  \
0      CASUAL DINING                 Malwani, Goan, North Indian    Thane
1  CASUAL DINING,BAR              Asian, Modern Indian, Japanese  Chennai
2      CASUAL DINING  North Indian, Chinese, Biryani, Hyderabadi  Chennai
3        QUICK BITES                            Tibetan, Chinese   Mumbai
4     DESSERT PARLOR                                    Desserts   Mumbai

  RATING      VOTES
0    3.6   49 votes
1    4.2   30 votes
2    3.8  221 votes
3    4.1   24 votes
4    3.8  165 votes

In [10]:
## Features and No label for TEST DATA

features_test= df_test
features_test= features_test.drop('LOCALITY', 1)
features_test= features_test.drop('TIME', 1)
features_test= features_test.drop('RESTAURANT_ID', 1)
#labels_test= df_test['COST']

print(features_test.head())

           TITLE                                      CUISINES       CITY  \
0  CASUAL DINING         North Indian, Chinese, Mughlai, Kebab      Noida
1    QUICK BITES  South Indian, Fast Food, Pizza, North Indian     Mumbai
2  CASUAL DINING       North Indian, Seafood, Biryani, Chinese     Mumbai
3           None                                       Biryani  Faridabad
4    QUICK BITES                          South Indian, Kerala      Kochi

  RATING       VOTES
0    4.3   564 votes
1    4.2    61 votes
2    3.8   350 votes
3    3.8  1445 votes
4    3.6    23 votes

In [11]:
feature_names_ref = features.columns.tolist()


print(feature_names_ref)

for column in feature_names_ref:
    print(column)
    print(features[column].value_counts(dropna=False))

['TITLE', 'CUISINES', 'CITY', 'RATING', 'VOTES']
TITLE
QUICK BITES                     4218
CASUAL DINING                   3652
None                            1003
CAFÉ                             607
DESSERT PARLOR                   382
CASUAL DINING,BAR                349
FINE DINING                      308
BAKERY                           302
BEVERAGE SHOP                    156
BAR,CASUAL DINING                128
LOUNGE                            98
BAKERY,QUICK BITES                92
BAR                               91
FOOD COURT                        78
CASUAL DINING,CAFÉ                56
MESS                              53
KIOSK                             53
BAKERY,DESSERT PARLOR             51
PUB                               50
SWEET SHOP,QUICK BITES            48
DESSERT PARLOR,QUICK BITES        48
DHABA                             45
SWEET SHOP                        44
QUICK BITES,SWEET SHOP            35
CAFÉ,CASUAL DINING                35
BEVERAGE SHOP,QUICK BITES         33
FINE DINING,BAR                   32
CAFÉ,DESSERT PARLOR               32
PUB,CASUAL DINING                 30
FOOD TRUCK                        30
                                ...
FINE DINING,CAFÉ                   2
KIOSK,QUICK BITES                  2
LOUNGE,CLUB                        2
SWEET SHOP,CASUAL DINING           2
BAKERY,SWEET SHOP                  2
CASUAL DINING,CLUB                 2
BAKERY,FOOD COURT                  1
DESSERT PARLOR,PAAN SHOP           1
CLUB,MICROBREWERY                  1
BAKERY,BEVERAGE SHOP               1
CASUAL DINING,DESSERT PARLOR       1
PUB,CAFÉ                           1
LOUNGE,FINE DINING                 1
BEVERAGE SHOP,CASUAL DINING        1
CONFECTIONERY,QUICK BITES          1
MICROBREWERY,LOUNGE                1
SWEET SHOP,BEVERAGE SHOP           1
BEVERAGE SHOP,FOOD COURT           1
KIOSK,FOOD COURT                   1
BAKERY,CONFECTIONERY               1
DESSERT PARLOR,KIOSK               1
SWEET SHOP,CONFECTIONERY           1
BAR,MICROBREWERY                   1
QUICK BITES,FOOD TRUCK             1
BAR,CLUB                           1
CAFÉ,FINE DINING                   1
CAFÉ,LOUNGE                        1
CASUAL DINING,FOOD COURT           1
QUICK BITES,BAR                    1
MEAT SHOP                          1
Name: TITLE, Length: 113, dtype: int64
CUISINES
South Indian                                                           532
North Indian                                                           526
North Indian, Chinese                                                  501
Fast Food                                                              286
Chinese                                                                167
Bakery                                                                 148
Bakery, Desserts                                                       148
South Indian, North Indian, Chinese                                    139
Cafe                                                                   134
Kerala                                                                 131
Biryani                                                                129
Street Food                                                            121
Chinese, North Indian                                                  119
South Indian, North Indian                                             106
North Indian, Mughlai                                                  102
North Indian, Chinese, Biryani                                          91
Desserts                                                                87
Finger Food                                                             87
North Indian, South Indian, Chinese                                     87
Ice Cream, Desserts                                                     81
Arabian                                                                 80
Bakery, Fast Food                                                       79
North Indian, South Indian                                              74
North Indian, Chinese, Continental                                      73
Pizza, Fast Food                                                        72
Desserts, Ice Cream                                                     70
North Indian, Mughlai, Chinese                                          66
North Indian, Chinese, Mughlai                                          64
Beverages                                                               55
Fast Food, Beverages                                                    55
                                                                      ...
Fast Food, Ice Cream, Desserts, Chinese                                  1
North Indian, South Indian, Fast Food, Chinese, Thai                     1
Pizza, Healthy Food, Fast Food                                           1
Sandwich, Wraps, Beverages                                               1
Cafe, Desserts, Continental                                              1
European, Burger, Salad, Healthy Food, Continental                       1
Thai, Mexican, Continental, Beverages, Italian                           1
Italian, Biryani, Fast Food                                              1
Continental, American, North Indian                                      1
North Indian, Chinese, Mughlai, Hyderabadi                               1
Cafe, Continental, Healthy Food                                          1
South Indian, Fast Food, Biryani                                         1
Cafe, Fast Food, Tea                                                     1
North Indian, Street Food, Sandwich, Pizza, Juices, Beverages            1
Continental, Italian, North Indian, Street Food, Coffee                  1
Pizza, Italian, Cafe, Burger, Finger Food, Fast Food, Sandwich           1
Desserts, Ice Cream, Sandwich                                            1
Cafe, American, Burger, Beverages                                        1
North Indian, Chinese, Continental, Italian, Momos                       1
North Indian, South Indian, Chinese, Biryani, Beverages                  1
Mediterranean, Italian, European, Salad, Seafood                         1
Biryani, Hyderabadi, North Indian, Seafood                               1
Andhra, Beverages, Healthy Food                                          1
Sandwich, Italian, Fast Food                                             1
North Indian, Arabian, Chinese, Sandwich, South Indian, Juices           1
Healthy Food, Continental, Fast Food, Sandwich, Salad, Beverages, ,      1
Biryani, Chinese, North Indian, Kebab, South Indian                      1
Street Food, Desserts, Fast Food                                         1
American, North Indian, Asian                                            1
Rolls, North Indian, Fast Food                                           1
Name: CUISINES, Length: 4155, dtype: int64
CITY
Chennai                               2174
Bangalore                             2149
Hyderabad                             1819
Mumbai                                1722
New Delhi                             1321
Kochi                                 1279
Gurgaon                                379
Secunderabad                           310
Noida                                  211
Navi Mumbai                            165
NaN                                    112
Ghaziabad                              102
Thane                                   97
Faridabad                               79
Bandra West                             69
Thane West                              52
Andheri West                            48
Bengaluru                               42
Greater Noida                           31
India                                   23
Kakkanad                                15
Ernakulam                               14
Kerala                                  10
Dwarka                                  10
Delhi NCR                                9
Delhi                                    8
Hyderabad.                               7
Gurugram                                 7
Telangana                                7
Edappally                                7
                                      ...
Ponnuruni Kochi                          1
Behind Ramalayam Temple                  1
Near Sector 110 Noida                    1
Fort Kochi                               1
Khairatabad                              1
Hitech City                              1
Maharaja Hotel Beside Gardania Bar       1
Chennai Perungudi                        1
Hyderabad neerus emporium.               1
Sriram nagar                             1
Nallala Street                           1
Bangalore - 560076                       1
Ashok Vihar Phase 1                      1
Serilingampally                          1
Naharpar                                 1
Dilsukhnagar                             1
Hyderabad-500032                         1
Mumbai Andheri East                      1
Aluva Circle                             1
Ramapuram                                1
Chennai Padur                            1
Telagana Land Line:040-48507016          1
Rajarajeshwari Nagar bangalore           1
Vasai West.                              1
Telangana 500034                         1
10th avenue                              1
Near Munrshwara Temple                   1
Thammenahalli Village                    1
Karnataka 560103                         1
Chander Nagar New Delhi                  1
Name: CITY, Length: 360, dtype: int64
RATING
3.9    1238
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
NEW     707
3.4     575
4.3     556
-       495
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.2       2
2.0       2
NaN       2
Name: RATING, dtype: int64
VOTES
NaN           1204
44 votes        71
28 votes        66
29 votes        66
38 votes        65
35 votes        64
24 votes        63
26 votes        63
22 votes        62
25 votes        60
33 votes        60
37 votes        58
12 votes        58
15 votes        58
31 votes        58
6 votes         57
27 votes        57
32 votes        56
48 votes        56
39 votes        56
23 votes        56
57 votes        56
54 votes        55
41 votes        55
21 votes        55
19 votes        55
7 votes         54
40 votes        54
8 votes         54
13 votes        54
              ...
828 votes        1
748 votes        1
2425 votes       1
3872 votes       1
2132 votes       1
4801 votes       1
3537 votes       1
1654 votes       1
3113 votes       1
1374 votes       1
661 votes        1
4206 votes       1
5559 votes       1
892 votes        1
2249 votes       1
1055 votes       1
963 votes        1
2241 votes       1
3048 votes       1
1905 votes       1
1554 votes       1
1483 votes       1
1744 votes       1
1588 votes       1
1190 votes       1
1969 votes       1
1564 votes       1
2202 votes       1
1274 votes       1
1398 votes       1
Name: VOTES, Length: 1848, dtype: int64

In [12]:
## Data analysis for TEST DATA

feature_names_ref_test = features_test.columns.tolist()


print(feature_names_ref_test)

for column in feature_names_ref_test:
    print(column)
    print(features_test[column].value_counts(dropna=False))

['TITLE', 'CUISINES', 'CITY', 'RATING', 'VOTES']
TITLE
QUICK BITES                   1416
CASUAL DINING                 1258
None                           284
CAFÉ                           223
DESSERT PARLOR                 126
CASUAL DINING,BAR              114
FINE DINING                     98
BAKERY                          90
BEVERAGE SHOP                   60
BAR,CASUAL DINING               47
LOUNGE                          38
BAKERY,QUICK BITES              34
BAR                             33
FOOD COURT                      32
SWEET SHOP                      23
SWEET SHOP,QUICK BITES          22
KIOSK                           20
PUB                             17
DHABA                           16
MESS                            15
CAFÉ,BAKERY                     14
QUICK BITES,SWEET SHOP          14
CAFÉ,QUICK BITES                12
BEVERAGE SHOP,QUICK BITES       12
PUB,CASUAL DINING               12
CAFÉ,CASUAL DINING              12
QUICK BITES,BAKERY              11
BAKERY,DESSERT PARLOR           10
QUICK BITES,DESSERT PARLOR      10
CASUAL DINING,CAFÉ               9
                              ...
DESSERT PARLOR,FOOD COURT        1
BAR,LOUNGE                       1
FOOD COURT,QUICK BITES           1
BAKERY,BEVERAGE SHOP             1
CONFECTIONERY                    1
FINE DINING,CAFÉ                 1
CASUAL DINING,LOUNGE             1
CLUB,FINE DINING                 1
QUICK BITES,CAFÉ                 1
BEVERAGE SHOP,CAFÉ               1
BHOJANALYA                       1
CAFÉ,FOOD COURT                  1
PUB,LOUNGE                       1
PAAN SHOP                        1
FINE DINING,MICROBREWERY         1
LOUNGE,FINE DINING               1
PUB,CAFÉ                         1
FOOD TRUCK,DESSERT PARLOR        1
CASUAL DINING,FOOD COURT         1
CAFÉ,LOUNGE                      1
PUB,FINE DINING                  1
IRANI CAFE,BAKERY                1
CASUAL DINING,MICROBREWERY       1
QUICK BITES,MEAT SHOP            1
COCKTAIL BAR,CASUAL DINING       1
CASUAL DINING,IRANI CAFE         1
CLUB,BAR                         1
QUICK BITES,CASUAL DINING        1
LOUNGE,CLUB                      1
BAKERY,CASUAL DINING             1
Name: TITLE, Length: 86, dtype: int64
CUISINES
North Indian, Chinese                                                  213
North Indian                                                           190
South Indian                                                           174
Fast Food                                                               78
Chinese                                                                 59
Cafe                                                                    47
Kerala                                                                  47
North Indian, Mughlai                                                   45
South Indian, North Indian, Chinese                                     44
Bakery, Desserts                                                        42
Street Food                                                             40
Bakery                                                                  39
Biryani                                                                 35
Beverages                                                               32
Pizza, Fast Food                                                        31
Desserts                                                                30
North Indian, Chinese, Biryani                                          30
Chinese, North Indian                                                   30
South Indian, North Indian                                              29
Bakery, Fast Food                                                       29
Ice Cream, Desserts                                                     27
North Indian, South Indian, Chinese                                     26
Finger Food                                                             26
North Indian, South Indian                                              25
South Indian, Chinese                                                   24
Kerala, South Indian                                                    23
Fast Food, Beverages                                                    22
North Indian, Chinese, Mughlai                                          21
North Indian, Chinese, Continental                                      21
North Indian, Mughlai, Chinese                                          21
                                                                      ...
Continental, Chinese, Momos                                              1
Mughlai, North Indian, Lucknowi                                          1
North Indian, South Indian, Chinese, Fast Food, Street Food              1
Paan                                                                     1
European, American, Italian, Fast Food                                   1
Biryani, Chinese, South Indian                                           1
Malwani                                                                  1
North Indian, Mughlai, Rolls, Kebab                                      1
Biryani, North Indian, Hyderabadi                                        1
Vietnamese                                                               1
Cantonese                                                                1
Mexican, Tex-Mex, Salad, Healthy Food, Sandwich, Beverages               1
Kerala, Indian                                                           1
South Indian, Juices                                                     1
Italian, European, Continental                                           1
North Indian, Italian, Continental, Chinese, Desserts, Beverages         1
Goan, North Indian                                                       1
Chinese, Momos, Seafood                                                  1
Kerala, Lebanese                                                         1
Cafe, Rolls                                                              1
Seafood, Italian                                                         1
Cafe, Burger, Continental, Desserts, Sandwich, Pizza, Bakery, Salad      1
South Indian, Hyderabadi                                                 1
Cafe, American, Continental, Italian                                     1
Continental, Italian, Seafood, Salad                                     1
Finger Food, Continental, Italian, North Indian                          1
Continental, Bakery, Desserts                                            1
South Indian, Italian, North Indian                                      1
Cafe, Fast Food, Beverages, Finger Food, Cuisine Varies, Juices, ,       1
Biryani, Chinese, Hyderabadi, Afghan                                     1
Name: CUISINES, Length: 1727, dtype: int64
CITY
Bangalore                                           686
Chennai                                             681
Hyderabad                                           639
Mumbai                                              589
Kochi                                               472
New Delhi                                           433
Gurgaon                                             145
Secunderabad                                         86
Noida                                                63
Navi Mumbai                                          57
NaN                                                  35
Faridabad                                            30
Ghaziabad                                            30
Andheri West                                         21
Thane                                                21
Thane West                                           21
Bengaluru                                            19
Bandra West                                          16
India                                                 8
Greater Noida                                         7
Dwarka                                                5
Kakkanad                                              5
Ernakulam                                             4
Delhi NCR                                             4
Banglore                                              4
Delhi                                                 3
Telangana                                             3
HSR Layout                                            3
Hyderabad.                                            3
Kaloor                                                3
                                                   ...
Delh.                                                 1
Virar Mumbai                                          1
Miumbai                                               1
Chepauk                                               1
Near Andheri East Station                             1
Navi Mumbai.                                          1
chennai-119                                           1
Borivali (W) Mumbai: 400 092.                         1
Mumbai Ulhasnagar                                     1
Whitefield                                            1
Sholinganallur. Chennai                               1
Vandalur                                              1
Velachery                                             1
Chennai 40                                            1
Kochi International Airport VIP Road                  1
Bengalore                                             1
Forum Sujana Mall Opposite to Malaysian township      1
Powai                                                 1
Kaaraikudi Complex                                    1
682024                                                1
Suraram                                               1
Maharashtra.                                          1
Opposite Ellora Building                              1
RA Puram                                              1
Mira Road Thane Mumbai                                1
Chennai Injambakkam                                   1
BTM                                                   1
Tolichowki                                            1
India Gate New Delhi                                  1
Mehdipatnam Hyderabad                                 1
Name: CITY, Length: 152, dtype: int64
RATING
3.8    414
3.9    405
4.0    399
3.7    351
3.6    310
4.1    281
4.2    245
NEW    223
3.5    217
3.4    202
4.3    184
-      177
4.4    122
3.3    120
3.2     83
3.1     77
4.5     75
3.0     59
2.9     56
2.8     45
4.6     43
2.7     40
2.6     24
4.7     21
4.8     17
2.5     16
2.4      9
4.9      6
2.3      5
NaN      2
2.2      2
2.1      1
Name: RATING, dtype: int64
VOTES
NaN           402
6 votes        30
22 votes       26
58 votes       26
23 votes       24
42 votes       24
4 votes        24
9 votes        24
55 votes       22
34 votes       21
44 votes       21
13 votes       20
14 votes       20
25 votes       19
57 votes       19
36 votes       19
130 votes      19
66 votes       19
24 votes       18
52 votes       18
26 votes       18
47 votes       18
32 votes       18
62 votes       18
50 votes       18
11 votes       18
46 votes       18
19 votes       18
54 votes       18
56 votes       18
             ...
1294 votes      1
829 votes       1
2041 votes      1
935 votes       1
369 votes       1
709 votes       1
920 votes       1
2320 votes      1
587 votes       1
412 votes       1
570 votes       1
3071 votes      1
4064 votes      1
4489 votes      1
905 votes       1
1511 votes      1
3075 votes      1
2476 votes      1
1020 votes      1
1660 votes      1
930 votes       1
592 votes       1
1989 votes      1
190 votes       1
1981 votes      1
2194 votes      1
1304 votes      1
372 votes       1
1323 votes      1
1398 votes      1
Name: VOTES, Length: 1137, dtype: int64

In [13]:
features['VOTES'] = features.VOTES.str.replace('votes' , '')
features.VOTES = features.VOTES.astype(float)

print(features["VOTES"].value_counts(dropna=False))

NaN       1204
44.0        71
29.0        66
28.0        66
38.0        65
35.0        64
26.0        63
24.0        63
22.0        62
25.0        60
33.0        60
37.0        58
12.0        58
15.0        58
31.0        58
6.0         57
27.0        57
23.0        56
39.0        56
48.0        56
32.0        56
57.0        56
54.0        55
41.0        55
21.0        55
19.0        55
13.0        54
20.0        54
40.0        54
8.0         54
          ...
2609.0       1
944.0        1
2944.0       1
1943.0       1
1629.0       1
3399.0       1
1767.0       1
2389.0       1
639.0        1
1858.0       1
2723.0       1
2542.0       1
758.0        1
1508.0       1
2500.0       1
2214.0       1
1914.0       1
996.0        1
1095.0       1
2711.0       1
2943.0       1
3334.0       1
1082.0       1
1926.0       1
1899.0       1
865.0        1
4980.0       1
1131.0       1
3369.0       1
2055.0       1
Name: VOTES, Length: 1848, dtype: int64

In [14]:

## Cleaning for TEST DATA

features_test['VOTES'] = features_test.VOTES.str.replace('votes' , '')
features_test.VOTES = features_test.VOTES.astype(float)

print(features_test["VOTES"].value_counts(dropna=False))

NaN       402
6.0        30
58.0       26
22.0       26
9.0        24
42.0       24
4.0        24
23.0       24
55.0       22
34.0       21
44.0       21
13.0       20
14.0       20
66.0       19
130.0      19
57.0       19
36.0       19
25.0       19
56.0       18
19.0       18
52.0       18
24.0       18
32.0       18
47.0       18
54.0       18
46.0       18
62.0       18
26.0       18
11.0       18
50.0       18
         ...
1439.0      1
1317.0      1
1323.0      1
1028.0      1
908.0       1
1445.0      1
2903.0      1
1557.0      1
1903.0      1
2917.0      1
647.0       1
5163.0      1
2259.0      1
1503.0      1
442.0       1
709.0       1
2996.0      1
343.0       1
685.0       1
2235.0      1
2998.0      1
652.0       1
361.0       1
1018.0      1
1708.0      1
3162.0      1
427.0       1
996.0       1
828.0       1
1749.0      1
Name: VOTES, Length: 1137, dtype: int64

In [15]:
features['RATING'] = features.RATING.str.replace('NEW' , '0.0')
features['RATING'] = features.RATING.str.replace('-' , '0.0')
#features.RATING = features.RATING.astype(float)

print(features["RATING"].value_counts(dropna=False))

print(type(features['RATING'].astype(float)))

print(type(features['VOTES']))

3.9    1238
0.0    1202
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
3.4     575
4.3     556
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.2       2
2.0       2
NaN       2
Name: RATING, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [16]:
## Cleaning of TEST DATA - RATING FIELD

features_test['RATING'] = features_test.RATING.str.replace('NEW' , '0.0')
features_test['RATING'] = features_test.RATING.str.replace('-' , '0.0')
#features.RATING = features.RATING.astype(float)

print(features_test["RATING"].value_counts(dropna=False))

print(type(features_test['RATING'].astype(float)))

print(type(features_test['VOTES']))

3.8    414
3.9    405
0.0    400
4.0    399
3.7    351
3.6    310
4.1    281
4.2    245
3.5    217
3.4    202
4.3    184
4.4    122
3.3    120
3.2     83
3.1     77
4.5     75
3.0     59
2.9     56
2.8     45
4.6     43
2.7     40
2.6     24
4.7     21
4.8     17
2.5     16
2.4      9
4.9      6
2.3      5
2.2      2
NaN      2
2.1      1
Name: RATING, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [17]:
print(features.shape)
print(features.head())
print(features['VOTES'].value_counts(dropna=False))
print(features['RATING'].value_counts(dropna=False))



features_selected = features[['VOTES','RATING']]

print(type(features_selected))

(12690, 5)
               TITLE                                    CUISINES     CITY  \
0      CASUAL DINING                 Malwani, Goan, North Indian    Thane
1  CASUAL DINING,BAR              Asian, Modern Indian, Japanese  Chennai
2      CASUAL DINING  North Indian, Chinese, Biryani, Hyderabadi  Chennai
3        QUICK BITES                            Tibetan, Chinese   Mumbai
4     DESSERT PARLOR                                    Desserts   Mumbai

  RATING  VOTES
0    3.6   49.0
1    4.2   30.0
2    3.8  221.0
3    4.1   24.0
4    3.8  165.0
NaN       1204
44.0        71
29.0        66
28.0        66
38.0        65
35.0        64
26.0        63
24.0        63
22.0        62
25.0        60
33.0        60
37.0        58
12.0        58
15.0        58
31.0        58
6.0         57
27.0        57
23.0        56
39.0        56
48.0        56
32.0        56
57.0        56
54.0        55
41.0        55
21.0        55
19.0        55
13.0        54
20.0        54
40.0        54
8.0         54
          ...
2609.0       1
944.0        1
2944.0       1
1943.0       1
1629.0       1
3399.0       1
1767.0       1
2389.0       1
639.0        1
1858.0       1
2723.0       1
2542.0       1
758.0        1
1508.0       1
2500.0       1
2214.0       1
1914.0       1
996.0        1
1095.0       1
2711.0       1
2943.0       1
3334.0       1
1082.0       1
1926.0       1
1899.0       1
865.0        1
4980.0       1
1131.0       1
3369.0       1
2055.0       1
Name: VOTES, Length: 1848, dtype: int64
3.9    1238
0.0    1202
3.8    1190
4.0    1099
3.7    1086
3.6     951
4.1     936
3.5     771
4.2     723
3.4     575
4.3     556
3.3     365
4.4     362
3.2     266
4.5     199
2.9     186
3.1     186
3.0     170
2.8     146
4.6     141
2.7      89
4.7      69
2.6      61
2.5      35
4.8      32
4.9      22
2.4      15
2.3      10
2.1       3
2.2       2
2.0       2
NaN       2
Name: RATING, dtype: int64
<class 'pandas.core.frame.DataFrame'>

In [18]:
## TEST DATA

print(features_test.shape)
print(features_test.head())
print(features_test['VOTES'].value_counts(dropna=False))
print(features_test['RATING'].value_counts(dropna=False))



features_selected_test= features_test[['VOTES','RATING']]

print(type(features_selected_test))

(4231, 5)
           TITLE                                      CUISINES       CITY  \
0  CASUAL DINING         North Indian, Chinese, Mughlai, Kebab      Noida
1    QUICK BITES  South Indian, Fast Food, Pizza, North Indian     Mumbai
2  CASUAL DINING       North Indian, Seafood, Biryani, Chinese     Mumbai
3           None                                       Biryani  Faridabad
4    QUICK BITES                          South Indian, Kerala      Kochi

  RATING   VOTES
0    4.3   564.0
1    4.2    61.0
2    3.8   350.0
3    3.8  1445.0
4    3.6    23.0
NaN       402
6.0        30
58.0       26
22.0       26
9.0        24
42.0       24
4.0        24
23.0       24
55.0       22
34.0       21
44.0       21
13.0       20
14.0       20
66.0       19
130.0      19
57.0       19
36.0       19
25.0       19
56.0       18
19.0       18
52.0       18
24.0       18
32.0       18
47.0       18
54.0       18
46.0       18
62.0       18
26.0       18
11.0       18
50.0       18
         ...
1439.0      1
1317.0      1
1323.0      1
1028.0      1
908.0       1
1445.0      1
2903.0      1
1557.0      1
1903.0      1
2917.0      1
647.0       1
5163.0      1
2259.0      1
1503.0      1
442.0       1
709.0       1
2996.0      1
343.0       1
685.0       1
2235.0      1
2998.0      1
652.0       1
361.0       1
1018.0      1
1708.0      1
3162.0      1
427.0       1
996.0       1
828.0       1
1749.0      1
Name: VOTES, Length: 1137, dtype: int64
3.8    414
3.9    405
0.0    400
4.0    399
3.7    351
3.6    310
4.1    281
4.2    245
3.5    217
3.4    202
4.3    184
4.4    122
3.3    120
3.2     83
3.1     77
4.5     75
3.0     59
2.9     56
2.8     45
4.6     43
2.7     40
2.6     24
4.7     21
4.8     17
2.5     16
2.4      9
4.9      6
2.3      5
2.2      2
NaN      2
2.1      1
Name: RATING, dtype: int64
<class 'pandas.core.frame.DataFrame'>

In [19]:
from sklearn.preprocessing import Imputer

features_selected = features[['VOTES','RATING']]

print(features_selected.shape)

imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer.fit(features_selected) 
features_selected = imputer.transform(features_selected)

(12690, 2)

In [20]:
## To remove NaN for TEST DATA

from sklearn.preprocessing import Imputer

features_selected_test = features_test[['VOTES','RATING']]

print(features_selected_test.shape)

imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer.fit(features_selected_test) 
features_selected_test = imputer.transform(features_selected_test)

(4231, 2)

In [21]:
## To check whether the NaN replaced or not

features_selected.shape
import math
for i in range(0,len(features_selected)):
    
    bool_val = math.isnan(features_selected[i][1])
    if bool_val == True:
        print(bool_val)

In [22]:
## To check whether the NaN replaced or not - TEST DATA

features_selected_test.shape
import math
for i in range(0,len(features_selected_test)):
    
    bool_val = math.isnan(features_selected_test[i][1])
    if bool_val == True:
        print(bool_val)

In [23]:
df_value = pd.DataFrame(data=features_selected,columns = ['VOTES','RATING'])

In [24]:
# TEST DATA
df_value_test = pd.DataFrame(data=features_selected_test,columns = ['VOTES','RATING'])

In [25]:
print(df_value.shape)
print(df_value_test.shape)

(12690, 2)
(4231, 2)

In [26]:
print(df_value.head())
print(df_value_test.head())

   VOTES  RATING
0   49.0     3.6
1   30.0     4.2
2  221.0     3.8
3   24.0     4.1
4  165.0     3.8
    VOTES  RATING
0   564.0     4.3
1    61.0     4.2
2   350.0     3.8
3  1445.0     3.8
4    23.0     3.6

In [27]:
features['VOTES'] = df_value['VOTES']
features['RATING']=df_value["RATING"]

In [28]:
## TEST DATA

features_test['VOTES'] = df_value_test['VOTES']
features_test['RATING']=df_value_test["RATING"]

In [29]:
print(features.shape)
print(features.head())

print(features_test.shape)
print(features_test.head())

(12690, 5)
               TITLE                                    CUISINES     CITY  \
0      CASUAL DINING                 Malwani, Goan, North Indian    Thane
1  CASUAL DINING,BAR              Asian, Modern Indian, Japanese  Chennai
2      CASUAL DINING  North Indian, Chinese, Biryani, Hyderabadi  Chennai
3        QUICK BITES                            Tibetan, Chinese   Mumbai
4     DESSERT PARLOR                                    Desserts   Mumbai

   RATING  VOTES
0     3.6   49.0
1     4.2   30.0
2     3.8  221.0
3     4.1   24.0
4     3.8  165.0
(4231, 5)
           TITLE                                      CUISINES       CITY  \
0  CASUAL DINING         North Indian, Chinese, Mughlai, Kebab      Noida
1    QUICK BITES  South Indian, Fast Food, Pizza, North Indian     Mumbai
2  CASUAL DINING       North Indian, Seafood, Biryani, Chinese     Mumbai
3           None                                       Biryani  Faridabad
4    QUICK BITES                          South Indian, Kerala      Kochi

   RATING   VOTES
0     4.3   564.0
1     4.2    61.0
2     3.8   350.0
3     3.8  1445.0
4     3.6    23.0

In [30]:
for column in feature_names_ref:
    print(column)
    print(features[column].value_counts(dropna=False))

TITLE
QUICK BITES                     4218
CASUAL DINING                   3652
None                            1003
CAFÉ                             607
DESSERT PARLOR                   382
CASUAL DINING,BAR                349
FINE DINING                      308
BAKERY                           302
BEVERAGE SHOP                    156
BAR,CASUAL DINING                128
LOUNGE                            98
BAKERY,QUICK BITES                92
BAR                               91
FOOD COURT                        78
CASUAL DINING,CAFÉ                56
MESS                              53
KIOSK                             53
BAKERY,DESSERT PARLOR             51
PUB                               50
SWEET SHOP,QUICK BITES            48
DESSERT PARLOR,QUICK BITES        48
DHABA                             45
SWEET SHOP                        44
QUICK BITES,SWEET SHOP            35
CAFÉ,CASUAL DINING                35
BEVERAGE SHOP,QUICK BITES         33
FINE DINING,BAR                   32
CAFÉ,DESSERT PARLOR               32
PUB,CASUAL DINING                 30
FOOD TRUCK                        30
                                ...
FINE DINING,CAFÉ                   2
KIOSK,QUICK BITES                  2
LOUNGE,CLUB                        2
SWEET SHOP,CASUAL DINING           2
BAKERY,SWEET SHOP                  2
CASUAL DINING,CLUB                 2
BAKERY,FOOD COURT                  1
DESSERT PARLOR,PAAN SHOP           1
CLUB,MICROBREWERY                  1
BAKERY,BEVERAGE SHOP               1
CASUAL DINING,DESSERT PARLOR       1
PUB,CAFÉ                           1
LOUNGE,FINE DINING                 1
BEVERAGE SHOP,CASUAL DINING        1
CONFECTIONERY,QUICK BITES          1
MICROBREWERY,LOUNGE                1
SWEET SHOP,BEVERAGE SHOP           1
BEVERAGE SHOP,FOOD COURT           1
KIOSK,FOOD COURT                   1
BAKERY,CONFECTIONERY               1
DESSERT PARLOR,KIOSK               1
SWEET SHOP,CONFECTIONERY           1
BAR,MICROBREWERY                   1
QUICK BITES,FOOD TRUCK             1
BAR,CLUB                           1
CAFÉ,FINE DINING                   1
CAFÉ,LOUNGE                        1
CASUAL DINING,FOOD COURT           1
QUICK BITES,BAR                    1
MEAT SHOP                          1
Name: TITLE, Length: 113, dtype: int64
CUISINES
South Indian                                                           532
North Indian                                                           526
North Indian, Chinese                                                  501
Fast Food                                                              286
Chinese                                                                167
Bakery                                                                 148
Bakery, Desserts                                                       148
South Indian, North Indian, Chinese                                    139
Cafe                                                                   134
Kerala                                                                 131
Biryani                                                                129
Street Food                                                            121
Chinese, North Indian                                                  119
South Indian, North Indian                                             106
North Indian, Mughlai                                                  102
North Indian, Chinese, Biryani                                          91
Desserts                                                                87
Finger Food                                                             87
North Indian, South Indian, Chinese                                     87
Ice Cream, Desserts                                                     81
Arabian                                                                 80
Bakery, Fast Food                                                       79
North Indian, South Indian                                              74
North Indian, Chinese, Continental                                      73
Pizza, Fast Food                                                        72
Desserts, Ice Cream                                                     70
North Indian, Mughlai, Chinese                                          66
North Indian, Chinese, Mughlai                                          64
Beverages                                                               55
Fast Food, Beverages                                                    55
                                                                      ...
Fast Food, Ice Cream, Desserts, Chinese                                  1
North Indian, South Indian, Fast Food, Chinese, Thai                     1
Pizza, Healthy Food, Fast Food                                           1
Sandwich, Wraps, Beverages                                               1
Cafe, Desserts, Continental                                              1
European, Burger, Salad, Healthy Food, Continental                       1
Thai, Mexican, Continental, Beverages, Italian                           1
Italian, Biryani, Fast Food                                              1
Continental, American, North Indian                                      1
North Indian, Chinese, Mughlai, Hyderabadi                               1
Cafe, Continental, Healthy Food                                          1
South Indian, Fast Food, Biryani                                         1
Cafe, Fast Food, Tea                                                     1
North Indian, Street Food, Sandwich, Pizza, Juices, Beverages            1
Continental, Italian, North Indian, Street Food, Coffee                  1
Pizza, Italian, Cafe, Burger, Finger Food, Fast Food, Sandwich           1
Desserts, Ice Cream, Sandwich                                            1
Cafe, American, Burger, Beverages                                        1
North Indian, Chinese, Continental, Italian, Momos                       1
North Indian, South Indian, Chinese, Biryani, Beverages                  1
Mediterranean, Italian, European, Salad, Seafood                         1
Biryani, Hyderabadi, North Indian, Seafood                               1
Andhra, Beverages, Healthy Food                                          1
Sandwich, Italian, Fast Food                                             1
North Indian, Arabian, Chinese, Sandwich, South Indian, Juices           1
Healthy Food, Continental, Fast Food, Sandwich, Salad, Beverages, ,      1
Biryani, Chinese, North Indian, Kebab, South Indian                      1
Street Food, Desserts, Fast Food                                         1
American, North Indian, Asian                                            1
Rolls, North Indian, Fast Food                                           1
Name: CUISINES, Length: 4155, dtype: int64
CITY
Chennai                               2174
Bangalore                             2149
Hyderabad                             1819
Mumbai                                1722
New Delhi                             1321
Kochi                                 1279
Gurgaon                                379
Secunderabad                           310
Noida                                  211
Navi Mumbai                            165
NaN                                    112
Ghaziabad                              102
Thane                                   97
Faridabad                               79
Bandra West                             69
Thane West                              52
Andheri West                            48
Bengaluru                               42
Greater Noida                           31
India                                   23
Kakkanad                                15
Ernakulam                               14
Kerala                                  10
Dwarka                                  10
Delhi NCR                                9
Delhi                                    8
Hyderabad.                               7
Gurugram                                 7
Telangana                                7
Edappally                                7
                                      ...
Ponnuruni Kochi                          1
Behind Ramalayam Temple                  1
Near Sector 110 Noida                    1
Fort Kochi                               1
Khairatabad                              1
Hitech City                              1
Maharaja Hotel Beside Gardania Bar       1
Chennai Perungudi                        1
Hyderabad neerus emporium.               1
Sriram nagar                             1
Nallala Street                           1
Bangalore - 560076                       1
Ashok Vihar Phase 1                      1
Serilingampally                          1
Naharpar                                 1
Dilsukhnagar                             1
Hyderabad-500032                         1
Mumbai Andheri East                      1
Aluva Circle                             1
Ramapuram                                1
Chennai Padur                            1
Telagana Land Line:040-48507016          1
Rajarajeshwari Nagar bangalore           1
Vasai West.                              1
Telangana 500034                         1
10th avenue                              1
Near Munrshwara Temple                   1
Thammenahalli Village                    1
Karnataka 560103                         1
Chander Nagar New Delhi                  1
Name: CITY, Length: 360, dtype: int64
RATING
3.900000    1238
0.000000    1202
3.800000    1190
4.000000    1099
3.700000    1086
3.600000     951
4.100000     936
3.500000     771
4.200000     723
3.400000     575
4.300000     556
3.300000     365
4.400000     362
3.200000     266
4.500000     199
2.900000     186
3.100000     186
3.000000     170
2.800000     146
4.600000     141
2.700000      89
4.700000      69
2.600000      61
2.500000      35
4.800000      32
4.900000      22
2.400000      15
2.300000      10
2.100000       3
2.200000       2
2.000000       2
3.426836       2
Name: RATING, dtype: int64
VOTES
415.668901     1204
44.000000        71
29.000000        66
28.000000        66
38.000000        65
35.000000        64
24.000000        63
26.000000        63
22.000000        62
33.000000        60
25.000000        60
37.000000        58
31.000000        58
12.000000        58
15.000000        58
6.000000         57
27.000000        57
48.000000        56
39.000000        56
23.000000        56
57.000000        56
32.000000        56
41.000000        55
19.000000        55
54.000000        55
21.000000        55
53.000000        54
40.000000        54
13.000000        54
8.000000         54
               ...
1956.000000       1
944.000000        1
962.000000        1
2944.000000       1
1914.000000       1
2723.000000       1
3399.000000       1
1767.000000       1
2389.000000       1
639.000000        1
1858.000000       1
2542.000000       1
2214.000000       1
758.000000        1
1508.000000       1
2500.000000       1
1629.000000       1
996.000000        1
1095.000000       1
4980.000000       1
2711.000000       1
2943.000000       1
3334.000000       1
1082.000000       1
1926.000000       1
1899.000000       1
865.000000        1
1131.000000       1
3369.000000       1
2055.000000       1
Name: VOTES, Length: 1848, dtype: int64

In [31]:
## TEST DATA

for column in feature_names_ref:
    print(column)
    print(features[column].value_counts(dropna=False))

TITLE
QUICK BITES                     4218
CASUAL DINING                   3652
None                            1003
CAFÉ                             607
DESSERT PARLOR                   382
CASUAL DINING,BAR                349
FINE DINING                      308
BAKERY                           302
BEVERAGE SHOP                    156
BAR,CASUAL DINING                128
LOUNGE                            98
BAKERY,QUICK BITES                92
BAR                               91
FOOD COURT                        78
CASUAL DINING,CAFÉ                56
MESS                              53
KIOSK                             53
BAKERY,DESSERT PARLOR             51
PUB                               50
SWEET SHOP,QUICK BITES            48
DESSERT PARLOR,QUICK BITES        48
DHABA                             45
SWEET SHOP                        44
QUICK BITES,SWEET SHOP            35
CAFÉ,CASUAL DINING                35
BEVERAGE SHOP,QUICK BITES         33
FINE DINING,BAR                   32
CAFÉ,DESSERT PARLOR               32
PUB,CASUAL DINING                 30
FOOD TRUCK                        30
                                ...
FINE DINING,CAFÉ                   2
KIOSK,QUICK BITES                  2
LOUNGE,CLUB                        2
SWEET SHOP,CASUAL DINING           2
BAKERY,SWEET SHOP                  2
CASUAL DINING,CLUB                 2
BAKERY,FOOD COURT                  1
DESSERT PARLOR,PAAN SHOP           1
CLUB,MICROBREWERY                  1
BAKERY,BEVERAGE SHOP               1
CASUAL DINING,DESSERT PARLOR       1
PUB,CAFÉ                           1
LOUNGE,FINE DINING                 1
BEVERAGE SHOP,CASUAL DINING        1
CONFECTIONERY,QUICK BITES          1
MICROBREWERY,LOUNGE                1
SWEET SHOP,BEVERAGE SHOP           1
BEVERAGE SHOP,FOOD COURT           1
KIOSK,FOOD COURT                   1
BAKERY,CONFECTIONERY               1
DESSERT PARLOR,KIOSK               1
SWEET SHOP,CONFECTIONERY           1
BAR,MICROBREWERY                   1
QUICK BITES,FOOD TRUCK             1
BAR,CLUB                           1
CAFÉ,FINE DINING                   1
CAFÉ,LOUNGE                        1
CASUAL DINING,FOOD COURT           1
QUICK BITES,BAR                    1
MEAT SHOP                          1
Name: TITLE, Length: 113, dtype: int64
CUISINES
South Indian                                                           532
North Indian                                                           526
North Indian, Chinese                                                  501
Fast Food                                                              286
Chinese                                                                167
Bakery                                                                 148
Bakery, Desserts                                                       148
South Indian, North Indian, Chinese                                    139
Cafe                                                                   134
Kerala                                                                 131
Biryani                                                                129
Street Food                                                            121
Chinese, North Indian                                                  119
South Indian, North Indian                                             106
North Indian, Mughlai                                                  102
North Indian, Chinese, Biryani                                          91
Desserts                                                                87
Finger Food                                                             87
North Indian, South Indian, Chinese                                     87
Ice Cream, Desserts                                                     81
Arabian                                                                 80
Bakery, Fast Food                                                       79
North Indian, South Indian                                              74
North Indian, Chinese, Continental                                      73
Pizza, Fast Food                                                        72
Desserts, Ice Cream                                                     70
North Indian, Mughlai, Chinese                                          66
North Indian, Chinese, Mughlai                                          64
Beverages                                                               55
Fast Food, Beverages                                                    55
                                                                      ...
Fast Food, Ice Cream, Desserts, Chinese                                  1
North Indian, South Indian, Fast Food, Chinese, Thai                     1
Pizza, Healthy Food, Fast Food                                           1
Sandwich, Wraps, Beverages                                               1
Cafe, Desserts, Continental                                              1
European, Burger, Salad, Healthy Food, Continental                       1
Thai, Mexican, Continental, Beverages, Italian                           1
Italian, Biryani, Fast Food                                              1
Continental, American, North Indian                                      1
North Indian, Chinese, Mughlai, Hyderabadi                               1
Cafe, Continental, Healthy Food                                          1
South Indian, Fast Food, Biryani                                         1
Cafe, Fast Food, Tea                                                     1
North Indian, Street Food, Sandwich, Pizza, Juices, Beverages            1
Continental, Italian, North Indian, Street Food, Coffee                  1
Pizza, Italian, Cafe, Burger, Finger Food, Fast Food, Sandwich           1
Desserts, Ice Cream, Sandwich                                            1
Cafe, American, Burger, Beverages                                        1
North Indian, Chinese, Continental, Italian, Momos                       1
North Indian, South Indian, Chinese, Biryani, Beverages                  1
Mediterranean, Italian, European, Salad, Seafood                         1
Biryani, Hyderabadi, North Indian, Seafood                               1
Andhra, Beverages, Healthy Food                                          1
Sandwich, Italian, Fast Food                                             1
North Indian, Arabian, Chinese, Sandwich, South Indian, Juices           1
Healthy Food, Continental, Fast Food, Sandwich, Salad, Beverages, ,      1
Biryani, Chinese, North Indian, Kebab, South Indian                      1
Street Food, Desserts, Fast Food                                         1
American, North Indian, Asian                                            1
Rolls, North Indian, Fast Food                                           1
Name: CUISINES, Length: 4155, dtype: int64
CITY
Chennai                               2174
Bangalore                             2149
Hyderabad                             1819
Mumbai                                1722
New Delhi                             1321
Kochi                                 1279
Gurgaon                                379
Secunderabad                           310
Noida                                  211
Navi Mumbai                            165
NaN                                    112
Ghaziabad                              102
Thane                                   97
Faridabad                               79
Bandra West                             69
Thane West                              52
Andheri West                            48
Bengaluru                               42
Greater Noida                           31
India                                   23
Kakkanad                                15
Ernakulam                               14
Kerala                                  10
Dwarka                                  10
Delhi NCR                                9
Delhi                                    8
Hyderabad.                               7
Gurugram                                 7
Telangana                                7
Edappally                                7
                                      ...
Ponnuruni Kochi                          1
Behind Ramalayam Temple                  1
Near Sector 110 Noida                    1
Fort Kochi                               1
Khairatabad                              1
Hitech City                              1
Maharaja Hotel Beside Gardania Bar       1
Chennai Perungudi                        1
Hyderabad neerus emporium.               1
Sriram nagar                             1
Nallala Street                           1
Bangalore - 560076                       1
Ashok Vihar Phase 1                      1
Serilingampally                          1
Naharpar                                 1
Dilsukhnagar                             1
Hyderabad-500032                         1
Mumbai Andheri East                      1
Aluva Circle                             1
Ramapuram                                1
Chennai Padur                            1
Telagana Land Line:040-48507016          1
Rajarajeshwari Nagar bangalore           1
Vasai West.                              1
Telangana 500034                         1
10th avenue                              1
Near Munrshwara Temple                   1
Thammenahalli Village                    1
Karnataka 560103                         1
Chander Nagar New Delhi                  1
Name: CITY, Length: 360, dtype: int64
RATING
3.900000    1238
0.000000    1202
3.800000    1190
4.000000    1099
3.700000    1086
3.600000     951
4.100000     936
3.500000     771
4.200000     723
3.400000     575
4.300000     556
3.300000     365
4.400000     362
3.200000     266
4.500000     199
2.900000     186
3.100000     186
3.000000     170
2.800000     146
4.600000     141
2.700000      89
4.700000      69
2.600000      61
2.500000      35
4.800000      32
4.900000      22
2.400000      15
2.300000      10
2.100000       3
2.200000       2
2.000000       2
3.426836       2
Name: RATING, dtype: int64
VOTES
415.668901     1204
44.000000        71
29.000000        66
28.000000        66
38.000000        65
35.000000        64
24.000000        63
26.000000        63
22.000000        62
33.000000        60
25.000000        60
37.000000        58
31.000000        58
12.000000        58
15.000000        58
6.000000         57
27.000000        57
48.000000        56
39.000000        56
23.000000        56
57.000000        56
32.000000        56
41.000000        55
19.000000        55
54.000000        55
21.000000        55
53.000000        54
40.000000        54
13.000000        54
8.000000         54
               ...
1956.000000       1
944.000000        1
962.000000        1
2944.000000       1
1914.000000       1
2723.000000       1
3399.000000       1
1767.000000       1
2389.000000       1
639.000000        1
1858.000000       1
2542.000000       1
2214.000000       1
758.000000        1
1508.000000       1
2500.000000       1
1629.000000       1
996.000000        1
1095.000000       1
4980.000000       1
2711.000000       1
2943.000000       1
3334.000000       1
1082.000000       1
1926.000000       1
1899.000000       1
865.000000        1
1131.000000       1
3369.000000       1
2055.000000       1
Name: VOTES, Length: 1848, dtype: int64

In [34]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(features['TITLE'])
label_title = label_encoder.transform(features['TITLE'])
print(label_title)

[31 33 31 ... 71 31 31]

In [32]:
## TEST DATA

print(features_test['TITLE'].value_counts(dropna=False))
features_test["CITY"].isnull().values.any()

features_test["CITY"].fillna("No CITY", inplace = True)

QUICK BITES                   1416
CASUAL DINING                 1258
None                           284
CAFÉ                           223
DESSERT PARLOR                 126
CASUAL DINING,BAR              114
FINE DINING                     98
BAKERY                          90
BEVERAGE SHOP                   60
BAR,CASUAL DINING               47
LOUNGE                          38
BAKERY,QUICK BITES              34
BAR                             33
FOOD COURT                      32
SWEET SHOP                      23
SWEET SHOP,QUICK BITES          22
KIOSK                           20
PUB                             17
DHABA                           16
MESS                            15
CAFÉ,BAKERY                     14
QUICK BITES,SWEET SHOP          14
CAFÉ,QUICK BITES                12
BEVERAGE SHOP,QUICK BITES       12
PUB,CASUAL DINING               12
CAFÉ,CASUAL DINING              12
QUICK BITES,BAKERY              11
BAKERY,DESSERT PARLOR           10
QUICK BITES,DESSERT PARLOR      10
CASUAL DINING,CAFÉ               9
                              ...
DESSERT PARLOR,FOOD COURT        1
BAR,LOUNGE                       1
FOOD COURT,QUICK BITES           1
BAKERY,BEVERAGE SHOP             1
CONFECTIONERY                    1
FINE DINING,CAFÉ                 1
CASUAL DINING,LOUNGE             1
CLUB,FINE DINING                 1
QUICK BITES,CAFÉ                 1
BEVERAGE SHOP,CAFÉ               1
BHOJANALYA                       1
CAFÉ,FOOD COURT                  1
PUB,LOUNGE                       1
PAAN SHOP                        1
FINE DINING,MICROBREWERY         1
LOUNGE,FINE DINING               1
PUB,CAFÉ                         1
FOOD TRUCK,DESSERT PARLOR        1
CASUAL DINING,FOOD COURT         1
CAFÉ,LOUNGE                      1
PUB,FINE DINING                  1
IRANI CAFE,BAKERY                1
CASUAL DINING,MICROBREWERY       1
QUICK BITES,MEAT SHOP            1
COCKTAIL BAR,CASUAL DINING       1
CASUAL DINING,IRANI CAFE         1
CLUB,BAR                         1
QUICK BITES,CASUAL DINING        1
LOUNGE,CLUB                      1
BAKERY,CASUAL DINING             1
Name: TITLE, Length: 86, dtype: int64

In [35]:
## TEST DATA
from sklearn import preprocessing
label_encoder_test = preprocessing.LabelEncoder()
label_encoder_test.fit(features_test['TITLE'])
label_title_test = label_encoder_test.transform(features_test['TITLE'])
print(label_title_test)

[23 75 23 ... 75 75 75]

In [36]:
label_encoder1 = preprocessing.LabelEncoder()
label_encoder1.fit(features['CUISINES'])
label_cuisine = label_encoder1.transform(features['CUISINES'])
print(label_cuisine)

[2627  289 2976 ... 2088 3506 2946]

In [37]:
## TEST DATA
label_encoder1_test = preprocessing.LabelEncoder()
label_encoder1_test.fit(features_test['CUISINES'])
label_cuisine_test= label_encoder1_test.transform(features_test['CUISINES'])
print(label_cuisine_test)

[1293 1632 1455 ...  679 1541 1145]

In [38]:
label_encoder2 = preprocessing.LabelEncoder()
label_encoder2.fit(features['CITY'])
label_city = label_encoder2.transform(features['CITY'])
print(label_city)

[321  67  67 ... 239  67 131]

In [39]:
## TEST DATA

label_encoder2_test = preprocessing.LabelEncoder()
label_encoder2_test.fit(features_test['CITY'])
label_city_test = label_encoder2_test.transform(features_test['CITY'])
print(label_city_test)

[111  96  96 ...  41  78   8]

In [33]:
print(features['TITLE'].value_counts(dropna=False))
features["CITY"].isnull().values.any()

features["CITY"].fillna("No CITY", inplace = True)

QUICK BITES                     4218
CASUAL DINING                   3652
None                            1003
CAFÉ                             607
DESSERT PARLOR                   382
CASUAL DINING,BAR                349
FINE DINING                      308
BAKERY                           302
BEVERAGE SHOP                    156
BAR,CASUAL DINING                128
LOUNGE                            98
BAKERY,QUICK BITES                92
BAR                               91
FOOD COURT                        78
CASUAL DINING,CAFÉ                56
MESS                              53
KIOSK                             53
BAKERY,DESSERT PARLOR             51
PUB                               50
SWEET SHOP,QUICK BITES            48
DESSERT PARLOR,QUICK BITES        48
DHABA                             45
SWEET SHOP                        44
QUICK BITES,SWEET SHOP            35
CAFÉ,CASUAL DINING                35
BEVERAGE SHOP,QUICK BITES         33
FINE DINING,BAR                   32
CAFÉ,DESSERT PARLOR               32
PUB,CASUAL DINING                 30
FOOD TRUCK                        30
                                ...
FINE DINING,CAFÉ                   2
KIOSK,QUICK BITES                  2
LOUNGE,CLUB                        2
SWEET SHOP,CASUAL DINING           2
BAKERY,SWEET SHOP                  2
CASUAL DINING,CLUB                 2
BAKERY,FOOD COURT                  1
DESSERT PARLOR,PAAN SHOP           1
CLUB,MICROBREWERY                  1
BAKERY,BEVERAGE SHOP               1
CASUAL DINING,DESSERT PARLOR       1
PUB,CAFÉ                           1
LOUNGE,FINE DINING                 1
BEVERAGE SHOP,CASUAL DINING        1
CONFECTIONERY,QUICK BITES          1
MICROBREWERY,LOUNGE                1
SWEET SHOP,BEVERAGE SHOP           1
BEVERAGE SHOP,FOOD COURT           1
KIOSK,FOOD COURT                   1
BAKERY,CONFECTIONERY               1
DESSERT PARLOR,KIOSK               1
SWEET SHOP,CONFECTIONERY           1
BAR,MICROBREWERY                   1
QUICK BITES,FOOD TRUCK             1
BAR,CLUB                           1
CAFÉ,FINE DINING                   1
CAFÉ,LOUNGE                        1
CASUAL DINING,FOOD COURT           1
QUICK BITES,BAR                    1
MEAT SHOP                          1
Name: TITLE, Length: 113, dtype: int64

In [40]:
features_final = features

In [41]:
## TEST DATA
features_final_test = features_test

In [42]:
features_final['TITLE'] = label_title

In [43]:
features_final['CITY'] = label_city

In [44]:
features_final['CUISINES'] = label_cuisine

In [45]:
## TEST DATA

features_final_test['TITLE'] = label_title_test
features_final_test['CITY'] = label_city_test
features_final_test['CUISINES'] = label_cuisine_test

In [46]:
print(features_final.shape)
print(features_final.head())

print(features_final_test.shape)
print(features_final_test.head())

(12690, 5)
   TITLE  CUISINES  CITY  RATING  VOTES
0     31      2627   321     3.6   49.0
1     33       289    67     4.2   30.0
2     31      2976    67     3.8  221.0
3     95      4130   222     4.1   24.0
4     50      1766   222     3.8  165.0
(4231, 5)
   TITLE  CUISINES  CITY  RATING   VOTES
0     23      1293   111     4.3   564.0
1     75      1632    96     4.2    61.0
2     23      1455    96     3.8   350.0
3     66       208    41     3.8  1445.0
4     75      1637    78     3.6    23.0

In [47]:
print(features.isnull().values.any())
print(features_test.isnull().values.any())

False
False

In [48]:
print(features_final.shape)
print(features_final.head())
print(labels.shape)
print(labels.head())

(12690, 5)
   TITLE  CUISINES  CITY  RATING  VOTES
0     31      2627   321     3.6   49.0
1     33       289    67     4.2   30.0
2     31      2976    67     3.8  221.0
3     95      4130   222     4.1   24.0
4     50      1766   222     3.8  165.0
(12690,)
0    1200
1    1500
2     800
3     800
4     300
Name: COST, dtype: int64

In [49]:
## Check with converting to int

features_final_check1 = features_final
features_final_check1["TITLE"] = features_final_check1["TITLE"].astype(int)
features_final_check1["RATING"] = features_final_check1["RATING"].astype(int)
features_final_check1["VOTES"] = features_final_check1["VOTES"].astype(int)
features_final_check1["CUISINES"] = features_final_check1["CUISINES"].astype(int)
features_final_check1["CITY"] = features_final_check1["CITY"].astype(int)

In [171]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_final, labels, test_size=0.2, random_state=123)

In [50]:
## CHECKING

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_final_check1, labels, test_size=0.2, random_state=123)

In [51]:

from sklearn.ensemble import RandomForestRegressor
rf_exp = RandomForestRegressor(n_estimators= 1000, random_state=100)
rf_exp.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=100, verbose=0, warm_start=False)

In [55]:
predictions = rf_exp.predict(X_test)
# Performance metrics
errors = abs(predictions - y_test)
print('Metrics for Random Forest Trained on Expanded Data')
print('Average absolute error:', round(np.mean(errors), 2), 'degrees.')

Metrics for Random Forest Trained on Expanded Data
Average absolute error: 188.68 degrees.

In [56]:
# Calculate mean absolute percentage error (MAPE)
mape = np.mean(100 * (errors / y_test))

# Calculate and display accuracy
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 64.26 %.

In [ ]:
estimators = np.arange(10, 200, 10)
scores = []
for n in estimators:
    model.set_params(n_estimators=n)
    model.fit(X_train, y_train)
    scores.append(model.score(X_test, y_test))
plt.title("Effect of n_estimators")
plt.xlabel("n_estimator")
plt.ylabel("score")
plt.plot(estimators, scores)

In [147]:
scores

[0.718999615267601,
 0.6876612118811363,
 0.7190646415697068,
 0.7143750340469461,
 0.7116763722608168,
 0.7107206017948537,
 0.7118265506398005,
 0.7169198147213343,
 0.7128082332704118,
 0.7173533193769854,
 0.7142842765614923,
 0.7141772107271604,
 0.7114773203061922,
 0.7100486905187411,
 0.7104432584531596,
 0.7149809249503328,
 0.7198063317600876,
 0.7166395172371443,
 0.7119788486403493]

In [52]:
X_test_features = features_final_test
predictions_test = rf_exp.predict(X_test_features)

In [53]:
## Check with int
features_final_test_check1 = features_final_test
features_final_test_check1["TITLE"] = features_final_test_check1["TITLE"].astype(int)
features_final_test_check1["RATING"] = features_final_test_check1["RATING"].astype(int)
features_final_test_check1["VOTES"] = features_final_test_check1["VOTES"].astype(int)
features_final_test_check1["CUISINES"] = features_final_test_check1["CUISINES"].astype(int)
features_final_test_check1["CITY"] = features_final_test_check1["CITY"].astype(int)
X_test_features_check1 = features_final_test_check1
predictions_test = rf_exp.predict(X_test_features_check1)

In [54]:
print(predictions_test.shape)

print(X_test_features.shape)
print(X_test.shape)
print(y_test.shape)

(4231,)
(4231, 5)
(2538, 5)
(2538,)

In [55]:
print(df_test.shape)

(4231, 8)

In [56]:
print(predictions_test)

[ 814.95 2153.5   630.6  ... 2611.85 1651.05 1891.  ]

In [63]:
result_cost = pd.DataFrame(data=predictions_test,columns=["COST"])

result_cost['COST'] = result_cost['COST'].astype(int)

In [64]:
print(result_cost.shape)
print(result_cost.head())

(4231, 1)
   COST
0   814
1  2153
2   630
3   581
4  2213

In [65]:
print(features_final_test.head())

   TITLE  CUISINES  CITY  RATING  VOTES
0     23      1293   111       4    564
1     75      1632    96       4     61
2     23      1455    96       3    350
3     66       208    41       3   1445
4     75      1637    78       3     23

In [212]:
print(features_final_test.isnull().values.any())

False

In [213]:
result_cost.to_csv("./Results_check_v4.csv", sep=',',index=False)

In [214]:
#####################################

In [51]:
#for custom transformer
from sklearn.base import BaseEstimator, TransformerMixin

# for creating pipeline
from sklearn.pipeline import Pipeline, FeatureUnion

# # for cross validation
# from sklearn.cross_validation import train_test_split
# from sklearn.cross_validation import train_test_split
# # from sklearn import cross_validation
# # from sklearn.model_selection import cross_val_predict, cross_val_score

# for various metrics and reporting
from sklearn import metrics 
from sklearn.metrics import roc_curve
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# feature selection
from sklearn.feature_selection import SelectFromModel

# xgboost library
from xgboost import XGBRegressor

from sklearn import ensemble
# plot feature importance
from xgboost import plot_importance, plot_tree

In [52]:

# fit model no training data
# model = XGBRegressor(n_estimators = 1000)
model = XGBRegressor(colsample_bytree = 0.7, learning_rate = 0.1,
                max_depth = 7, alpha = 10, n_estimators = 100)

model.fit(X_train, y_train)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.7, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [52]:

model1 = ensemble.GradientBoostingRegressor(n_estimators = 100)

model1.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)

In [53]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [54]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 0.16%

In [55]:
# Calculate mean absolute percentage error (MAPE)
errors = abs(predictions - y_test)
print('Metrics for Random Forest Trained on Expanded Data')
print('Average absolute error:', round(np.mean(errors), 2), 'degrees.')

mape = np.mean(100 * (errors / y_test))

# Calculate and display accuracy
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Metrics for Random Forest Trained on Expanded Data
Average absolute error: 177.0 degrees.
Accuracy: 65.55 %.

In [57]:
X_test_features_xgb = features_final_test
predictions_test = model.predict(X_test_features_xgb)

In [58]:
result_cost = pd.DataFrame(data=predictions_test,columns=["COST"])

result_cost['COST'] = result_cost['COST'].astype(int)

In [59]:
result_cost.to_csv("./Results_check_v15_xgb.csv", sep=',',index=False)